<h2>{{ $ctrl.audiobookTitle }}</h2>
<div ng-if="$ctrl.currentTrack">
    {{ $ctrl.currentTrack.fileName }}
    <div class="progressBar">
        {{ $ctrl.formatDuration($ctrl.progress) }}
        <input type="range"
               min="0"
               ng-mousedown="$ctrl.startSeek()"
               ng-mouseup="$ctrl.stopSeek()"
               ng-attr-max="{{ $ctrl.currentTrack.duration }}"
               ng-model="$ctrl.progress">
        {{ $ctrl.formatDuration($ctrl.currentTrack.duration) }}
        <input type="range"
               min="0"
               max="100"
               ng-change="$ctrl.changeVolume()"
               ng-model="$ctrl.volumeLevel">
    </div>
</div>
<div>
    <button ng-click="$ctrl.playPrev($ctrl.currentTrack)">Prev</button>
    <button ng-click="$ctrl.playPauseTrack($ctrl.currentTrack)">Play/Pause</button>
    <button ng-click="$ctrl.playNext($ctrl.currentTrack)">Next</button>
</div>
<hr>
<div class="track"
     ng-repeat="audiobookTrack in $ctrl.trackList"
     ng-click="$ctrl.playPauseTrack(audiobookTrack)">
    <div>
        {{ audiobookTrack.index }}
        {{ audiobookTrack.state }}
        {{ audiobookTrack.fileName }}
        {{ $ctrl.formatDuration(audiobookTrack.duration) }}
    </div>
</div>