<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABookStreamer</title>

    <!----------------------------------------------------------------------------------------------------------------->
    <!-- Иконка                                                                                                      -->
    <!----------------------------------------------------------------------------------------------------------------->
    <link rel="shortcut icon"
          th:href="@{/frontend/images/favicon.ico}">

    <!----------------------------------------------------------------------------------------------------------------->
    <!-- Подключаем AngularJS                                                                                        -->
    <!----------------------------------------------------------------------------------------------------------------->
    <script th:src="@{/frontend/libraries/angularjs/angular.min.js}"
            type="text/javascript"></script>

    <!----------------------------------------------------------------------------------------------------------------->
    <!-- Подключаем JQuery                                                                                           -->
    <!----------------------------------------------------------------------------------------------------------------->
    <script th:src="@{/frontend/libraries/jquery/jquery-3.5.0.min.js}"
            type="text/javascript"></script>

    <!----------------------------------------------------------------------------------------------------------------->
    <!-- Подключаем HowlerJS                                                                                         -->
    <!----------------------------------------------------------------------------------------------------------------->
    <script th:src="@{/frontend/libraries/howlerjs/howler.min.js}"
            type="text/javascript"></script>

    <!----------------------------------------------------------------------------------------------------------------->
    <!-- Подключаем MomentJS                                                                                         -->
    <!----------------------------------------------------------------------------------------------------------------->
    <script th:src="@{/frontend/libraries/momentjs/moment.min.js}"
            type="text/javascript"></script>

    <!----------------------------------------------------------------------------------------------------------------->
    <!-- Подключаем основной модуль AngularJS-приложения                                                             -->
    <!----------------------------------------------------------------------------------------------------------------->
    <script th:src="@{/frontend/application/ApplicationModule.js}"
            type="text/javascript"></script>

    <!----------------------------------------------------------------------------------------------------------------->
    <!-- Подключаем AngularJS-компоненты                                                                             -->
    <!----------------------------------------------------------------------------------------------------------------->
    <!-- Главный компонент -->
    <script th:src="@{/frontend/application/components/main/Main.js}"
            type="text/javascript"></script>
    <link th:href="@{/frontend/application/components/main/Main.css}"
          type="text/css"
          rel="stylesheet">

    <!-- Плейлист -->
    <script th:src="@{/frontend/application/components/playlist/Playlist.js}"
            type="text/javascript"></script>
    <link th:href="@{/frontend/application/components/playlist/Playlist.css}"
          type="text/css"
          rel="stylesheet">

</head>
<body ng-app="applicationModule"
      class="ng-cloak"
      ng-cloak>

<main/>

</body>
</html>